  body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
  }

  #ui-panel {
    flex: 1;
    background-color: #222;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
  }

  #workspace {
    flex: 1;
    background-color: #06691f;
    background-image: url("file:///E:/gamemaker-proj/green.jpg");
  background-size: cover;       /* scale to fill canvas */
  background-position: center;  /* center it */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #workspace canvas {
    background-color: #00000000;
    border: 1px solid #444;
  }

  #export-panel {
    flex: 1;
    background-color: #333;
    color: white;
    padding: 10px;
    box-sizing: border-box;
  }

  label {
    display: block;
    width: 120px;
    margin-top: 10px;
  }
  label input {
    display: inline-block;
    width: 400px;
  }