html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /*background: var(--sea-blue);*/
  overflow: hidden;
  font-family: Arial,Helvetica,sans-serif,sans;
}

#bingocard div {
  display: inline-block;
  text-align: center;
  font-size: 2.5rem;
  width: 4rem;
  height: 4rem;
  padding: 0.25rem;
}
#bingocard span { 
  width: 100%;
  height: 100%;
}
#bingocard div.winning {
  background-color: gold;
}
#bingocard span.marked {
  background-color: aqua;
}