html, body {
  margin: 0;
  padding: 0;
  /*width: 100%;
  height: 100%;
  background: var(--sea-blue);*/
  overflow: scroll;
  font-family: Arial,Helvetica,sans-serif,sans;
} 



.bingocard {
  display: inline-block;
  border: 1px solid #000;
  padding: 0.25rem;
}

.bingocard .row {
  display: flex;
}

.bingocard .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
}

.bingocard span {
  display: block;
  font-size: 2rem;
  line-height: 3rem;
  width: 100%;
  height: 100%;
  text-align: center;
}
.bingocard div.winning {
  background-color: gold;
}
.bingocard span.marked {
  background-color: aqua;
}