html, body {
  margin: 0;
  padding: 0;
  /*width: 100%;
  height: 100%;
  background: var(--sea-blue);*/
  /*overflow: scroll;*/
  font-family: Arial,Helvetica,sans-serif,sans;
} 

.reel {
  width: 92px;
  height: 250px;
  display: inline-block;
}
#reel-window {
  position: relative;
  width: 300px;
  height: 250px;
}
#cover {
  position: absolute;
  top:0;
  left: 0;
  width: 300px;
  height: 250px;
  background: linear-gradient(
    0deg,rgba(0, 0, 0, 1) 
    10%, rgba(255, 255, 255, 0) 
    49%, rgba(255, 255, 255, 0) 
    51%, rgba(0, 0, 0, 1) 90%
  );
}
.reel1 img {
  width: 92px;
  height: 82px;
  display: block;
}