:root {
  /* Reel sizing */
  --img-width: 92px;
  --img-height:82px;
  --reel-height: calc(var(--img-height) * 3);
  --reel-count: 3;

  /* Window sizing */
  --window-width: calc((var(--img-width) * var(--reel-count)) + 16px);
  --window-height: calc(var(--reel-height) + 4px);
}
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif,sans;
} 

.reel {
  width: var(--img-width);
  height: var(--reel-height);
  display: inline-block;
}

#reel-window {
  position: relative;
  width: var(--window-width);
  height: var(--window-height);
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--window-width);
  height: var(--window-height);
  background: linear-gradient(
    0deg,rgba(0, 0, 0, 1) 
    10%, rgba(255, 255, 255, 0) 
    48%, rgba(255, 255, 255, 0) 
    52%, rgba(0, 0, 0, 1) 90%
  );
}
.reel img {
  width: var(--img-width);
  height: var(--img-height);
  display: block;
}
#payout-table {
  width: auto;
}
.payout-row span {
  font-size: 2.3rem;
}
#payout-table img {
  width: 40px;
  height: 35px;
}