html, body {
  margin: 0;
  padding: 0;
  /*width: 100%;
  height: 100%;
  background: var(--sea-blue);*/
  /*overflow: scroll;*/
  font-family: Arial,Helvetica,sans-serif,sans;
} 

.reel {
  width: 92px;
  height: 300px;
  display: inline-block;
}
.reel1 img {
  width: 92px;
  height: 82px;
}