  body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
    background-color: #222;
    color: white;
  }

  #ui-panel {
    flex: 1;
    padding: 10px 1% 10px 1%;
    box-sizing: border-box;
    overflow-y: auto;
  }

  #ui-panel h3, #ui-panel h4 {
    margin: 0;
  }
    
  #ui-panel label {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
    #ui-panel .col-2 label {
      width: 49.5%;
      display: inline-block;
    } 

  label input {
    display: inline-block;
    width: 100%;
  }

  #workspace {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
   #workspace div {
    display: block;
    width: 100%;
   }
   .import-export {
    margin: 1rem 0 1rem 0;
   }
    .import-export * {
      font-size: 1.2rem;
    }
    .import-export button {
      padding: 0.25rem;
    }
   .import-export label {
    margin: 0 0.5rem 0 1rem;
   }
  
  #workspace canvas {
    background-color: #00000000;
    border: 1px solid #ffffff;
  }