  body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
    background-color: #222;
  }

  #ui-panel {
    flex: 1;
    background-color: #222;
    color: white;
    padding: 10px 1% 10px 1%;
    box-sizing: border-box;
    overflow-y: auto;
  }

  #ui-panel h3, #ui-panel h4 {
    margin: 0;
  }
    
  label {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
    #ui-panel .col-2 label {
      width: 49.5%;
      display: inline-block;
    } 

  label input {
    display: inline-block;
    width: 100%;
  }

  #workspace {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  #workspace canvas {
    background-color: #00000000;
    border: 1px solid #ffffff;
  }